workflow-management/exported_workflows/LLM_audio_transcription_handle_eee4MePNfl1ljaBP.json
{
  "updatedAt": "2025-10-04T05:03:57.084Z",
  "createdAt": "2025-09-25T04:41:22.726Z",
  "id": "eee4MePNfl1ljaBP",
  "name": "LLM: audio transcription handle",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.ai_agent.provider}}",
                    "rightValue": "OpenAI",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "184646b6-3456-4898-9aa2-efcc9d48de1e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "8f7bedbf-8451-4a3c-b446-9fee422ce2f4",
                    "leftValue": "={{$json.ai_agent.provider}}",
                    "rightValue": "=Google",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "ignoreCase": true
        }
      },
      "id": "06c79207-2d4a-49d9-bea5-d3da775de120",
      "name": "LLM Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        112,
        -288
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "transcript",
              "name": "transcript",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e719df2b-6acb-433a-b7a9-0f6ed95c40a0",
      "name": "Google Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        -256
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "ai_agent",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -176,
        -256
      ],
      "id": "6a8687dd-8b3a-4693-8ccc-c55c961f646b",
      "name": "When Executed by Another Workflow",
      "retryOnFail": true,
      "notesInFlow": false,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fileSelector": "/home/test/downloads/test.ogg",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        96,
        96
      ],
      "id": "027b0151-ef94-4e03-a1dd-fa0e20b935bb",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "={{ $json.ai_agent.llm }}",
          "mode": "id"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        512,
        -208
      ],
      "id": "13622f24-0896-456d-a17a-bc982c4d4164",
      "name": "Transcribe a recording",
      "retryOnFail": true,
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "googlePalmApi": {
          "id": "rkVlLAzFlUDQXSQe",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "={\n  \"type\": \"error\",\n  \"content\": \"{{$json.error}}\"  \n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        528,
        80
      ],
      "id": "8bc3b4a5-0a2e-43e1-8e4e-e838b136def9",
      "name": "Stop and Error"
    }
  ],
  "connections": {
    "LLM Router": {
      "main": [
        [],
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "LLM Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Response": {
      "main": [
        [],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Google Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Los_Angeles",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "ai_agent": {
            "provider": "Google",
            "llm": "models/gemini-2.5-flash"
          }
        }
      }
    ]
  },
  "versionId": "bf8837dc-4bcd-49a9-bb99-6e5a4b22a658",
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-09-25T04:41:22.726Z",
      "createdAt": "2025-09-25T04:41:22.726Z",
      "role": "workflow:owner",
      "workflowId": "eee4MePNfl1ljaBP",
      "projectId": "6FOle8VEKAMnu05Z",
      "project": {
        "updatedAt": "2025-09-24T03:25:40.622Z",
        "createdAt": "2025-09-24T03:24:51.385Z",
        "id": "6FOle8VEKAMnu05Z",
        "name": "Evgenii Moiseev <jedrus00@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-09-24T03:24:51.385Z",
            "createdAt": "2025-09-24T03:24:51.385Z",
            "userId": "ecdf55ab-bbff-4828-b9c0-39b049732cab",
            "projectId": "6FOle8VEKAMnu05Z",
            "user": {
              "updatedAt": "2025-11-23T20:10:09.127Z",
              "createdAt": "2025-09-24T03:24:50.933Z",
              "id": "ecdf55ab-bbff-4828-b9c0-39b049732cab",
              "email": "jedrus00@gmail.com",
              "firstName": "Evgenii",
              "lastName": "Moiseev",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-24T03:25:56.788Z",
                "personalization_survey_n8n_version": "1.112.4",
                "companyType": "personal",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "XGZy1JaF06FfcLVB",
                "userActivatedAt": 1759095566821,
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                },
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1760658269686
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-23",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-09-28T21:29:00.851Z",
      "createdAt": "2025-09-28T21:29:00.851Z",
      "id": "veJM4joaFd2Wd7Rp",
      "name": "LLM"
    },
    {
      "updatedAt": "2025-09-28T21:30:10.997Z",
      "createdAt": "2025-09-28T21:30:10.997Z",
      "id": "Hk3xcD25h6h2plM2",
      "name": "sub-workflow"
    }
  ]
}
