workflow-management/exported_workflows/Variable_get_or_set_default_DpbMEfVtwhwDVU9d.json
{
  "createdAt": "2025-10-01T00:49:37.017Z",
  "updatedAt": "2025-10-04T05:04:56.629Z",
  "id": "DpbMEfVtwhwDVU9d",
  "name": "Variable: get or set default",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "=workflow_variables",
          "mode": "name"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "workflow_id",
              "value": "={{ $json.workflow_id}}"
            },
            {
              "column": "scope",
              "value": "={{ $json.scope }}"
            },
            {
              "column": "variable_name",
              "value": "={{ $json.variable_name }}"
            }
          ]
        },
        "options": {
          "connectionTimeout": 30
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        96,
        -512
      ],
      "id": "12a83389-8aff-4454-a186-172261e6b720",
      "name": "Get variable",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "xEXTfV2NuJVM5TLV",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "=workflow_variables",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_id": "={{ $('Input').item.json.workflow_id }}",
            "scope": "={{ $('Input').item.json.scope }}",
            "variable_name": "={{ $('Input').item.json.variable_name }}",
            "value": "={{ $('Input').item.json.default_value }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "workflow_id",
              "displayName": "workflow_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scope",
              "displayName": "scope",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "variable_name",
              "displayName": "variable_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "value",
              "displayName": "value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "connectionTimeout": 60
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        928,
        -560
      ],
      "id": "eac38b0d-62e8-4f37-baa1-2e72886bdcb0",
      "name": "Set default",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "xEXTfV2NuJVM5TLV",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "workflow_id"
            },
            {
              "name": "scope"
            },
            {
              "name": "variable_name"
            },
            {
              "name": "default_value"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -592,
        -416
      ],
      "id": "3ca8114c-35b1-4fbc-bc6d-8c2bb10c59d9",
      "name": "Input",
      "retryOnFail": true,
      "notesInFlow": false,
      "alwaysOutputData": false,
      "executeOnce": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5d966932-7d8e-41d5-b5a4-ef9cc43a7595",
              "leftValue": "={{ $json && Object.keys($json).length > 0 && Object.values($json).some(v => v !== null) }}",
              "rightValue": "=",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        -592
      ],
      "id": "a19d9dc6-7673-4220-b145-1e8e8c4ab982",
      "name": "If variable not null",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"value\":  {{ $('Input').item.json.default_value }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        -400
      ],
      "id": "65d57676-ddb8-4b22-9c3a-f56ffafffb6e",
      "name": "Return default",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"value\": {{ $json.value }}\n}\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        -752
      ],
      "id": "2f27b1e7-4d9b-4f2b-bf03-18862a4ebcea",
      "name": "Return existing",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "= {\n\"type\":\"error\",\n\"content\":\"{{$json.error}}\"\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1440,
        -144
      ],
      "id": "c6f38958-ae08-4c98-866f-f8b6804b6be1",
      "name": "Stop and Error",
      "notesInFlow": false
    }
  ],
  "connections": {
    "Get variable": {
      "main": [
        [
          {
            "node": "If variable not null",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return default",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input": {
      "main": [
        [
          {
            "node": "Get variable",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set default": {
      "main": [
        [
          {
            "node": "Return default",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return default",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If variable not null": {
      "main": [
        [
          {
            "node": "Return existing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set default",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return default",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return default": {
      "main": [
        [],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return existing": {
      "main": [
        [],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Los_Angeles",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Input": [
      {
        "json": {
          "workflow_id": "test",
          "scope": "test",
          "variable_name": "test2",
          "default_value": "test"
        }
      }
    ]
  },
  "versionId": "9cda37e1-e7c0-479f-86f7-71f0629072bd",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-01T00:49:37.017Z",
      "updatedAt": "2025-10-01T00:49:37.017Z",
      "role": "workflow:owner",
      "workflowId": "DpbMEfVtwhwDVU9d",
      "projectId": "6FOle8VEKAMnu05Z",
      "project": {
        "createdAt": "2025-09-24T03:24:51.385Z",
        "updatedAt": "2025-09-24T03:25:40.622Z",
        "id": "6FOle8VEKAMnu05Z",
        "name": "Evgenii Moiseev <jedrus00@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-24T03:24:51.385Z",
            "updatedAt": "2025-09-24T03:24:51.385Z",
            "userId": "ecdf55ab-bbff-4828-b9c0-39b049732cab",
            "projectId": "6FOle8VEKAMnu05Z",
            "user": {
              "createdAt": "2025-09-24T03:24:50.933Z",
              "updatedAt": "2025-10-08T03:15:57.128Z",
              "id": "ecdf55ab-bbff-4828-b9c0-39b049732cab",
              "email": "jedrus00@gmail.com",
              "firstName": "Evgenii",
              "lastName": "Moiseev",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-24T03:25:56.788Z",
                "personalization_survey_n8n_version": "1.112.4",
                "companyType": "personal",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "XGZy1JaF06FfcLVB",
                "userActivatedAt": 1759095566821,
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                },
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1759366397954
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-10-08",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "createdAt": "2025-09-28T21:30:10.997Z",
      "updatedAt": "2025-09-28T21:30:10.997Z",
      "id": "Hk3xcD25h6h2plM2",
      "name": "sub-workflow"
    },
    {
      "createdAt": "2025-10-04T05:04:29.063Z",
      "updatedAt": "2025-10-04T05:04:29.063Z",
      "id": "rdSp9czUdPFSGmue",
      "name": "variable"
    }
  ]
}
